<dl class="dl-horizontal">
    <dt>License</dt>
    <dd>{{ data.license }}</dd>
    <dt>Languages</dt>
    <dd>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lines of code</th>
                    <th>Comment lines of code</th>
                    <th>Blank lines</th>
                </tr>
            </thead>
            <tbody>
            {% for language in data.languages %}
            <tr>
                <td>{{ language.name }}</td>
                <td>{{ language.linesOfCode }}</td>
                <td>{{ language.commentLinesOfCode }}</td>
                <td>{{ language.blankLines }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </dd>
</dl>
